.background {
    width: 100vw;
    height: 80vh;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.couponForm {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.closeBtn {
    display: flex;
    justify-content: flex-end;
    color:rgba(0, 0, 0, 0.35);
}

.closeBtn button {
    border: none;
    cursor: pointer;
}

.submitFormBtn{
    display: flex;
    justify-content: flex-end;
}
